{% extends "TICoreBundle::layout.html.twig" %}

{% block title %}
    Annonces - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Annonces</h1>

    <hr>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que: {{ app.user.username }}
        <a href="{{ path('fos_user_security_logout') }}"> Déconnexion </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}"> Connexion</a>
        {#<a href="{{ path('fos_user_security_register') }}"> Inscription</a> #}
    {% endif %}

    <hr>

    {% block PlatformBody %}
    {% endblock %}

{% endblock %}
