{% extends "TIPlatformBundle::layout.html.twig" %}
{% block title %}
    Vue de l'annonce - {{ parent() }}
{% endblock %}
{% block PlatformBody %}
    {% for message in app.session.flashbag.get('info') %}
        <p> {{ message }}</p>
    {% endfor %}

    <h2> {{ advert.title }} </h2>
    <p>
        Par <em>{{ advert.user.username }}</em>
        le {{ advert.date|date ('d/m/Y') }} <br/>
    </p>

    <p>
        Catégories concernées par l'annonce:
        {% for categories in advert.weightCategories %}
            <em>{{ categories.name }}, </em>
        {% endfor %}
    </p>

    <div class="well">
        <p><strong> Localisation: </strong> {{ advert.location }} <br/></p>
        <p> {{ advert.content }} </p></div>

    <p>
        <a href="{{ path('ti_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('ti_platform_edit', {'id': advert.id }) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier l'annonce
            </a>
            <a href="{{ path('ti_platform_delete', { 'id' : advert.id }) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer l'annonce
            </a>
        {% endif %}
    <p>

    </p>

    </p>

    {{ include("TIPlatformBundle:Application:form.html.twig") }}


    <p>
    Candidatures pour cette annonce ({{ advert.nbApplications }}):
    {% for application in advert.applications %}
        <li>
            <strong> {{ application.user.username }} </strong>
            le {{ application.date|date('d/m/Y') }} <br/>
            <div class="well"> {{ application.content }} </div>
            {% if is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('ti_platform_application_delete',{'id' : application.id}) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Supprimer
            </a>
            {% endif %}
        </li> <br/>
    {% endfor %}
    </p>



{% endblock %}