{% extends "TIAdminBundle::layout.html.twig" %}

{% block adminBody %}
    {% for user in listUsers %}
        <div class="well">
            Nom:
            <a href="{{ path('ti_admin_editUser', {'id': user.id }) }}">
                {{ user.username }}
            </a> <br/>
            Email: {{ user.email }} <br/>
            Roles:
            {% for role in user.roles %}
                {{ role }},
            {% endfor %} <br/>
            {# Connecté pour la dernière fois le: {{ user.last_login }} #}
            <a href="#"> Promouvoir Administrateur </a>

        </div>

    {% endfor %}
{% endblock %}